/*  your css code here. If applicable */
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 10px;
        
      }

      #first-section {
        background-color: white;
        margin-top: 25px;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid black;
      }

      #first-section ul li {
        list-style-type: none;
        margin-bottom: 5px;
      }

      #first-section ul li a {
        color: #000;
        text-decoration-line: none;
      }


      #second-section {
        background-color: white;
        margin-top: 25px;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid black;
      }
      .player_one, .player_two {
        width: 100%;
        background-color: rgb(255, 255, 255); 
		  padding: 0px; 
		  border-radius: 10px
      }